# Environment files
Frontend/.env
Backend/.env

# Notes
Frontend/FrontendNotes.txt

# Node modules
Frontend/node_modules/
Backend/node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

Fronted/node_modules/
Backend/node_modules/
